

body{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.title{
  width: 300px;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 520px;
  padding-top: 50px;
  /* background-color: aqua; */

}

 /* Using CSS for toggle */
 /* div#stdlist {
  display: none;
} */

.search-box{
  /* width: 90px; */
  /* height: 20px; */
    position: absolute;
    z-index: 100;
    top: 150px;
    left: 100px;
    width: 250px;
    height: 40px;
    background-color: #454E53;
    border-radius: 20px;
    display: flex;
    align-items: center;

}

.search-box input {
  width: 100%;
  font-size: 15px;
  padding-left: 20px;
  padding-top:15px ;
  background-color: transparent;
  border: none;
  color: white;
  outline: transparent;
  
}

.search-box .search{
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}



button:onclick + div#stdlist {
  display: block;
} 

.button {
    background-color: rgb(219, 52, 205);
    color: rgb(65, 59, 59);
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(236, 143, 236);
    cursor: pointer;
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 140px;
    width: 250px;
}


.std1,.std2,.std3,.std4,.std5, .addStudent {
    background-color: rgba(130, 210, 235, 0.76);
    color: rgb(117, 108, 108);
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid rgb(95, 172, 216);
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 8px;
    width: 60px;

}

button:hover{
  background-color: rgb(184, 184, 184);
}


.my-list{
    border-radius: 25px;
    margin-left: 100px;
}


#remove {
  background-color: rgb(94, 87, 86);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

button.deleteBtn:hover{
  background-color: antiquewhite;
}



