<!DOCTYPE html>
<html>
<head>
    <title>Editing Student List</title>  
    <meta charset = "utf-8">  
</head>
<body>
    <form action = "/class/api/edit" method = "post">
        <div>
                <label for = "Enter Index">Enter the index you want to edit:</label>
                <input type = "text" id = "editStudent" name ="editStudent" placeholder="Index, editedName">
        </div>
        <div class= "button">
            <button type = "Edit" >Edit Student</button>
        </div>
    </form>
</body>

</html>